.bigRedButton {
    padding: 15px 10px;
    background-color: red;
    width: 100px;
}

.purple{
    background-color: purple;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.cyan {
    background-color: cyan;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}